* {
    font-family: var(--main-font);
}

html, body {
    height: 100%;
    margin: unset;
}

.main-content {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color);

}

.main-content > .banner {
    width: 512px;
}

@media only screen and (max-width: 768px) {
    .main-content > .banner {
        width: 80%;
    }    
}